<div id="timeline-modal-container" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Log for <small><%= @device.name %></small></h4>
      </div>
      <div class="modal-body">
        <table id="timeline-table-logs" class="display">
          <thead>
            <tr>
              <th>Madiafile</th>
              <th>Mediatype</th>
              <th>Location</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <% @logs.each do |log| %>
            <tr>
              <td><%= log.name %></td>
              <td><%= case log.mediatype
                        when 1 
                          'audio file'
                        when 2 
                          'video file'
                        when 3
                          'audio add'
                        else
                          'video add'
                        end %></td>
              <td><%= (log.operation_type == 1 ? 'local' : 'remote') %></td>
              <td><%= log.created_at.strftime("%Y-%m-%d hour: %k:%M") %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
